<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Incora Casino</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/api/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/api/auth/register">Register</a>
            </li>
        </ul>
    </div>
</nav>


<form method="post" style="display: flex;    flex-direction: column;    align-items: center; margin-top: 200px;">
    <h3>Register</h3>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="inputRole">Role</label>
        <select name="role" class="custom-select" id="inputRole">
            <option value="USER">User</option>
            <option value="SUPERADMIN">Super Admin</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputAmountOfMoney">Money</label>
        <input type="text" name="amountOfMoney" class="form-control" id="inputAmountOfMoney" placeholder="Amount of money">
    </div>

    <p style="text-align: center"><%= message%></p>

    <button type="submit" class="btn btn-dark">Submit</button>

</form>



</body>
</html>